body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.request-list-item {
  color: white !important;
  border: 0 !important;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.request-list-item img {
  width: 80px;
}

.request-list-item h2 {
  font-weight: bold;
}

.animation_highlight {
  animation-name: highlight;
  animation-duration: 400ms;
  animation-iteration-count: 9;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
}

@keyframes highlight {
  from {
  }
  to {
    background-color: #fff59d;
  }
}

.blank-space {
  height: 100vh;
  background: transparent;
}
