body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.request {
  color: white;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px !important;
  border-radius: 10px !important;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.user-picture {
  width: 70px;
}

.user-nickname {
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-request {
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.request-index {
  font-size: 1.5rem;
  font-weight: bold;
}

.animation_highlight {
  animation-name: highlight;
  animation-duration: 500ms;
  animation-iteration-count: 7;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
}

@keyframes highlight {
  from {
  }
  to {
    background-color: rgb(255, 238, 88, 0.5);
  }
}

.blank-space {
  height: 100vh;
  background: transparent;
}
